@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Plus Jakarta Sans";
    font-display: swap;
    font-weight: 100 900;
    src: url("/assets/font/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf")
      format("truetype");
  }
  h1 {
    @apply font-bold text-3xl;
  }
  h2 {
    @apply font-bold text-2xl;
  }
  h3 {
    @apply font-bold text-xl;
  }
  h4 {
    @apply font-bold text-sm uppercase;
    letter-spacing: 2.4px;
  }

  input[type="text"] {
    @apply w-full border text-base border-gray2 focus:border-primary2 py-2 px-4 rounded-md outline-none dark:bg-black2  dark:placeholder:text-gray3 placeholder:opacity-25 focus:ring-0;
  }
}
.modal-content {
  @apply w-full md:min-w-[480px]  bg-white dark:bg-black2 p-8 rounded-md;
}
